{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "prettier",
        "react",
        "import",
        "jsx-a11y",
        "react-hooks",
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "airbnb-base",
        "prettier",
        "prettier/react",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint"
    ],
    "rules": {
        "prettier/prettier": "warn",
        "import/prefer-default-export": "off",
        "no-param-reassign": "off",
        "class-methods-use-this": "off",
        "no-use-before-define": [
            "error",
            {
                "functions": false
            }
        ],
        "no-underscore-dangle": [
            "error",
            {
                "allow": [
                    "__DEV__",
                    "__TEST__",
                    "__CLIENT__",
                    "__SERVER__",
                    "_"
                ]
            }
        ],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "@typescript-eslint/explicit-function-return-type": "off",
        "react/prop-types": "off",
        "lines-between-class-members": "off",
        "@typescript-eslint/ban-ts-ignore": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "no-lonely-if": "off",
        "no-console": ["error", { "allow": ["error"]}],
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/no-empty-interface": "off",
        "import/extensions": "off",
        "no-useless-constructor": "off",
        "@typescript-eslint/ban-ts-comment": "off"
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "globals": {
        "__DEV__": true,
        "__TEST__": true,
        "__SERVER__": true,
        "__CLIENT__": true,
        "logger": true,
        "_": true
    },
    "settings": {
        "react": {
            "version": "detect"
        },
        "import/resolver": {
            "node": {
                "paths": ["node_modules", "./"],
                "extensions": [
                    ".js",
                    ".ts",
                    ".jsx",
                    ".tsx"
                ]
            }
        }
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jest": true
    }
}
